@import 'styles/partials/buttons';
@import 'styles/partials/lists';

// .video {
//     position: relative;

//     background: rebeccapurple;

//     aspect-ratio: 16 / 9;
// }

// .actualVideo {
//     width: 100%;
//     height: 100%;

//     background: red;
// }

.page {
    position: relative;

    overflow: hidden;
}

.page__home {
    width: 93vw;

    margin: 0 auto;
}

.button {
    @extend .button;
}

.header__links {
    @extend .header__links;

    display: none;
}

.home__hero_container {
    position: relative;
    left: rem(-150px);

    width: rem(1445px);
    height: rem(145px);

    margin: 0 auto;
    margin-bottom: rem(44px);

    object-fit: cover;
}

.home__hero_container_title {
    width: 100%;
    height: 100%;
}

.home__hero_video {
    width: rem(700px);
    height: rem(700px);

    margin-bottom: rem(68px);
}
