@import '../components/Header.module.scss';
// @import 'styles/core/layout';

.page {
    position: relative;

    overflow: hidden;
}

.page__home {
    width: 93vw;

    margin: 0 auto;
}
.header__links {
    @extend .header__links;

    display: none;
}

.home__hero_container {
    width: rem(1441px);
    height: rem(184px);

    margin: 0 auto;
    margin-bottom: rem(44px);

    object-fit: cover;
}

.home__hero_container_title {
    width: 100%;
    height: 100%;
}

.home__hero_video {
    width: rem(700px);
    height: rem(700px);

    margin-bottom: rem(68px);
}

.home__pages_title {
    display: block;

    margin: 0 auto;
    margin-bottom: rem(61px);

    font-family: $font-plaak;
    font-size: rem(20px);
    font-weight: 300;
    letter-spacing: rem(10px);

    text-align: center;
    text-transform: uppercase;

    color: $color-dark-charcoal;
}

.home__slogan {
    position: relative;
    display: flex;

    flex-direction: column;

    margin: 0 auto;
    margin-bottom: rem(61px);

    font-family: $font-plaak-bold;
    font-size: rem(110px);
    font-weight: 300;
    letter-spacing: rem(2px);
    line-height: rem(100px);

    text-align: center;
    text-transform: uppercase;

    color: $color-dark-charcoal;

    align-items: center;
}

.home__slogan_text {
    position: relative;
    display: flex;

    flex-direction: row;
}
.home__slogan_word_wrapper {
    position: relative;

    margin-right: rem(50px);
    margin-bottom: rem(20px);
}

.home__slogan_word_wrapper:last-of-type {
    margin-left: rem(15px);
}

.home__slogan_decoration {
    position: absolute;
    bottom: -7px;

    font-size: rem(75px);

    vertical-align: text-top;
    text-decoration: underline;
}

.home__slogan_words {
    position: relative;
}

.home__slogan_words:nth-of-type(even) {
    margin-left: rem(15px);
}
