@import 'styles/partials/lists';
@import 'styles/partials/buttons';

.navigation_bar_ {
    display: none;
}

.navigation_bar__default {
    @extend .list;

    display: none;

    width: max-content;
    height: rem(54px);

    border-top: 1px solid $color-dark-charcoal;
    border-bottom: 1px solid $color-dark-charcoal;

    font-family: $font-plaak;

    text-transform: uppercase;

    color: $color-black;

    gap: rem(109px);
    align-items: center;
    justify-content: flex-end;
}

.navigation_bar__current {
    @extend .list;

    display: none;

    flex-direction: row;

    width: max-content;

    margin: 0 auto;
    margin-bottom: rem(65px);

    border: none;

    font-family: $font-plaak;

    text-transform: uppercase;

    color: $color-dark-charcoal;

    gap: rem(109px);
    justify-content: center;
}

.navigation_bar__default_li:first-child {
    margin-left: rem(109px);
}

.navigation_bar__home_buttons {
    @extend .button;

    text-decoration: none;

    color: $color-dark-charcoal;
}

@media screen and (max-width: $breakpoint-narrow) {
    .navigation_bar__default {
        display: none;
    }

    .navigation_bar__current {
        display: none;
    }
}

@media screen and (min-width: $breakpoint-regular) {
    .navigation_bar__default {
        display: flex;
    }

    .navigation_bar__current {
        display: flex;
    }
}

@media (min-width: $breakpoint-regular) and (max-width: ($breakpoint-wide - 1)) {
    .navigation_bar__default {
        display: none;
    }

    .navigation_bar__current {
        display: none;
    }
}
